* {
  border-radius: 0 !important;
}

body {
	background-color: #000000;
	background-image: url('https://img.sythe.org/nextgen/misc/background.jpg');
	background-repeat: repeat-x;
}

nav {
	margin-top: 20px;
}

.navbar-inverse {
  border-color: transparent;
}

.navbar .divider-vertical {
    height: 30px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
    margin-top: 10px;
    margin-bottom: -10px;
    /* margins + height should = 50px*/
}

.navbar-inverse .divider-vertical {
    border-right-color: #9d9d9d;
    border-left-color: #9d9d9d;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 25%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
/*    border-left: 1px solid #9d9d9d;
    border-right: 1px solid #9d9d9d;*/
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.gold-top-border {
	border-top: 4px solid #ffde00;
}

.row.gold-top-border {
	min-height: 1px;
	min-width: 100%;
}